.navbar {
   background-color: rgba(255,255,255,0.1);
   background: rgba(255,255,255,0.1);
   border-bottom:0;
   z-index:9999;
   position:absolute; 
   top:0px; 
   left:0; 
   width:100%;
}
.active{
	background-color:transparent !important; 
	background:transparent !important;
	border-bottom:0;
}
body{
	display:none;
	overflow:hidden;
	background-color:black;
}
.lb{
	font-size:1.3em;
	color:white !important;
	font-family: 'Lobster', cursive;
}
.qs{
	font-family: 'Quicksand', sans-serif;
}
.os{
	font-family: 'Open Sans', sans-serif;
}
.ds{
	font-family: 'Dancing Script', cursive;
}
a{
	color:white !important;
}
.background{
	position:absolute;
	width:100%;
	bottom:0px;
}
.header{
	position:absolute;
	top:27%;
	right:20%;
	color:white;
	font-size:9em;
}
#title {
  -moz-animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;
}
#content{
	-moz-animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.content{
	position:absolute;
	top:175px;
	left:0px;
	text-align:center;
	width:450px;
	font-size:0.25em;
	color:white;
}