.navbar {
   background-color: rgba(255,255,255,0.1);
   background: rgba(255,255,255,0.1);
   border-bottom:0;
   z-index:9999;
   position:absolute; 
   top:0px; 
   left:0; 
   width:100%;
}
.active{
	background-color:transparent !important; 
	background:transparent !important;
	border-bottom:0;
}
body{
	overflow:hidden;
}
.lb{
	font-size:1.3em;
	color:white !important;
	font-family: 'Lobster', cursive;
}
.qs{
	font-family: 'Quicksand', sans-serif;
}
.os{
	font-family: 'Open Sans', sans-serif;
}
a{
	color:white !important;
}
.background{
	position:absolute;
	width:100%;
	bottom:0px;
}
.header{
	position:absolute;
	top:30%;
	width:100%;
	padding-left:15%;
	text-align:center;
	color:white;
	font-size:9em;
}