#content{
	-moz-animation-delay: 1.5s;
	-webkit-animation-delay: 2s;
    -moz-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	}
#title {
    -moz-animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
	-moz-animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
#enter{
	-moz-animation-delay: 1.7s;
	-webkit-animation-delay: 1.7s;
	-moz-animation-duration: 1s;
   	-webkit-animation-duration: 1s;
}
.active{
	background-color:transparent !important;
	background:transparent !important;
	border-bottom:0;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.background{
	position:absolute;
	width:100%;
	bottom:0px;
	z-index:-1;
}
.btn-transparent{
	color:white;
	background-color:transparent;
	border-color:white;
	background-image:none;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.btn-transparent:hover, .btn-transparent:focus{
	background-color:white;
	color:black;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.btn-transparent:active{
	color:black;
	background-color:transparent;
	border-color:white;
	background-image:none;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.ds{
	font-family: 'Dancing Script', cursive;
}
.down{
	position:fixed;
	bottom:40px;
	left:50%;
}
.enter{
	position:absolute;
	left:0px;
	top:300px;
	left:90px;
	font-size:1.2em;
	padding-left:100px;
	padding-right:100px;
	padding-top:25px;
	padding-bottom:25px;
}
.header{
	position:fixed;
	top:25%;
	right:10%;
	width:550px;
	z-index:3;
}
.header-text{
	color:white;
	font-size:9em;
}
.lb{
	font-size:1.3em;
	color:black !important;
	font-family: 'Lobster', cursive;
}
.navbar-transparent {
    background-color: rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.1);
    border-bottom:0;
    z-index:9999;
    position:absolute;
    top:0px;
    left:0;
    width:100%;
}
.navbar-fixed-bottom{
	position:fixed;
	bottom:0px;
}
.os{
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
.pfs{
	font-family: 'Petit Formal Script', cursive;
}
.qs{
	font-family: 'Quicksand', sans-serif;
}
a{
	color:black !important;
}
body{
	display:none;
	overflow:hidden;
	background-color:black;
}

/* Override */
.content{
	position:absolute;
	top:175px;
	left:0px;
	text-align:center;
	width:450px;
	font-size:1.5em;
	color:white;
}
.blog-nav-item{
	color:white !important;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
